---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

#header {
  display: none
}

header h1:before {
    content: "" !important;
    font-size: 24px;
}
